# TPL
TPL_BASE_URL=https://oms.tpl.com.br/api
TPL_APIKEY=
TPL_TOKEN=
TPL_EMAIL=

# Omie (Filial 002)
OMIE_PRODUTO_URL=https://app.omie.com.br/api/v1/geral/produtos/
OMIE_ESTOQUE_URL=https://app.omie.com.br/api/v1/estoque/ajuste/
APP_KEY_OMIE=4531808134854
APP_SECRET=

# Segurança
TOKEN_SYNC=
